
.col2{
	column-count: 2;
}

.col5{
	column-count: 5;
}

.col6{
	column-count: 6;
}


/************************************************/
	#parcours article,
	#formations article,
	#competences article{
		/*width: 50%;*/
	}
	#presentation li,
	#parcours li,
	#formations li,
	#competences li,
	#interets li{
		margin-left: 25px;
	}
	#interets{
		width: 50%;
		margin: auto;
	}
	#interets li{
		font-size: 1.5em;
	}
